body {
  background-color: #f8f4f4;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-therapie {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 399px;
  margin: 10px;
  gap: 30px;
  position: fixed;
  bottom: 0px;
}

.end {
  background: var(--Background-dark, #444);
  display: flex;
  width: 390px;
  height: 80px;
  padding: var(--Radius-sm, 8px) 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.nav {
  display: flex;
  padding: var(--Radius-xs, 4px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--Radius-xs, 4px);
  flex: 1 0 0;
}

.button-nav {
  display: flex;
  padding: var(--Radius-xs, 4px) 20px;
  align-items: center;
  gap: 10px;
}

.typography-nav {
  color: var(--Colours-Grey-4, #b3b3b3);
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  align-self: stretch;
  line-height: 140%;
}

.over {
  display: flex;
  padding: var(--Radius-xs, 4px) 20px;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: var(--Colours-Red-2, #ffefef);
}

.typography-over {
  color: var(--Colours-White, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
